.decorWrap > div:last-child,
.decorWrap > div:nth-last-child(2),
.decorWrap > div:nth-last-child(3),
.decorWrap > div:nth-last-child(4) {
  position: absolute;
  z-index: 5;
}

.decorWrap > div:last-child {
  left: 180px;
  bottom: 37%;
}

.decorWrap > div:nth-last-child(2) {
  right: 0;
  bottom: 55%;
}

.decorWrap > div:nth-last-child(3) {
  right: 0;
  bottom: 33%;
}

.decorWrap > div:nth-last-child(4) {
  left: 0;
  bottom: 40%;
}

.shield,
.anonMask {
  max-width: 70px;
}

.padlock,
.key {
  max-width: initial;
}

@media (max-width: 991px) {
  .decorWrap > div:nth-last-child(4) {
    left: 80px;
    bottom: 50%;
  }

  .decorWrap > div:nth-last-child(3) {
    bottom: 30%;
  }

  .shield,
  .anonMask {
    max-width: 40px;
  }

  .padlock {
    width: 80px;
  }

  .key {
    width: 180px;
  }
}


@media (max-height: 800px) {
  .hero.heroWithPartners {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .decorWrap > div:last-child {
    left: 50px;
    bottom: 60%;
  }

  .decorWrap > div:nth-last-child(2) {
    bottom: 60%;
    right: 20px;
  }

  .decorWrap > div:nth-last-child(3) {
    bottom: -5%;
  }

  .decorWrap > div:nth-last-child(4) {
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 575px) {
  .decorWrap > div:last-child,
  .decorWrap > div:nth-last-child(2),
  .decorWrap > div:nth-last-child(3),
  .decorWrap > div:nth-last-child(4) {
    display: none;
  }
}
