.partnersWrap {
  position: absolute;
  bottom: 60px;
  background: #0f2830;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 0 104px;
  max-width: 1440px;
  margin: auto;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.partnersWrap h3 {
  color: #ffffff;
}

.logosWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logosWrap .logo {
  margin-left: 84px;
  max-width: 120px;
}

.logosWrap .logo:hover {
  cursor: pointer;
  opacity: .7;
}

.partnersWrap h3 {
  font-size: 32px;
}

@media (max-device-height: 700px) {
  .partnersWrap {
    bottom: 40px;
  }
}

@media (max-height: 700px) {
  .partnersWrap {
    bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .logosWrap .logo {
    margin-left: 64px;
  }
}

@media (max-width: 1200px) {
  .partnersWrap {
    padding: 0 52px;
  }

  .logosWrap .logo {
    margin-left: 44px;
    max-width: 100px;
  }
}

@media (max-width: 991px) {
  .partnersWrap {
    padding: 0 52px;
  }

  .logosWrap .logo {
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .partnersWrap {
    position: relative;
    margin: 40px auto 0;
    flex-direction: column;
  }

  .partnersWrap h3 {
    margin: 0 auto 40px;
  }

  .logosWrap .logo:first-child {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .partnersWrap {
    position: relative;
    margin: 40px auto 0;
    flex-direction: column;
    bottom: initial;
  }

  .logosWrap {
    flex-wrap: wrap;
  }

  .logosWrap .logo {
    display: flex;
    justify-content: center;
    margin: 0 0 32px;
    width: calc(50% - 44px);
    max-width: initial;
  }
}
