.hero {
  position: relative;
  background: #0f2830;
  color: #ffffff;
  display: flex;
  height: 100vh;
}

.container {
  height: inherit;
}

.heroText {
  position: relative;
  text-align: center;
  height: inherit;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroText h1 {
  margin: 0 auto 32px;
  max-width: 900px;
}

.heroText .description {
  margin: 0 auto 64px;
  max-width: 530px;
  font-size: 18px;
  line-height: 150%;
}

.heroText :global .react-typeform-embed {
  position: initial;
}

.heroText .ctaText {
  font-size: 16px;
  opacity: .6;
}

.heroBtn {
  margin: 0 0 24px;
}

.heroText > div:last-child,
.heroText > div:nth-last-child(2),
.heroText > div:nth-last-child(3),
.heroText > div:nth-last-child(4) {
  position: absolute;
  z-index: 5;
}

.heroText > div:last-child {
  left: 180px;
  bottom: 37%;
}

.heroText > div:nth-last-child(2) {
  right: 0;
  bottom: 55%;
}

.heroText > div:nth-last-child(3) {
  right: 0;
  bottom: 33%;
}

.heroText > div:nth-last-child(4) {
  left: 0;
  bottom: 40%;
}

.shield,
.anonMask {
  max-width: 70px;
}

.padlock,
.key {
  max-width: initial;
}

@media (max-height: 800px) {
  .hero.heroWithPartners {
    height: auto;
    min-height: 100vh;
    padding: 10rem 0 5rem;
  }
}

@media (max-height: 700px) {
  .hero.heroWithPartners {
    height: auto;
    min-height: 100vh;
    padding: 10rem 0 5rem;
  }
}

@media (max-width: 991px) {
  .heroText > div:nth-last-child(4) {
    left: 80px;
    bottom: 50%;
  }

  .heroText > div:nth-last-child(3) {
    bottom: 30%;
  }

  .shield,
  .anonMask {
    max-width: 40px;
  }

  .padlock {
    width: 80px;
  }

  .key {
    width: 180px;
  }
}


@media (max-height: 800px) {
  .hero.heroWithPartners {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 3rem 0;
  }

  .hero.heroWithPartners {
    height: auto;
    min-height: 100vh;
    padding: 5rem 0;
  }

  .heroText > div:last-child {
    left: 50px;
    bottom: 60%;
  }

  .heroText > div:nth-last-child(2) {
    bottom: 60%;
    right: 20px;
  }

  .heroText > div:nth-last-child(3) {
    bottom: -5%;
  }

  .heroText > div:nth-last-child(4) {
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 575px) {
  .heroText .description {
    margin: 0 auto 32px;
  }

  .heroText > div:last-child,
  .heroText > div:nth-last-child(2),
  .heroText > div:nth-last-child(3),
  .heroText > div:nth-last-child(4) {
    display: none;
  }

  .heroText {
    margin: 40px auto 0;
    height: auto;
  }

  .container {
    height: auto;
  }
}

/*@media (max-width: 575px) {*/
/*  .padlock,*/
/*  .anonMask,*/
/*  .key,*/
/*  .shield {*/
/*    display: none;*/
/*  }*/
/*}*/