.partnersWrap {
  padding: 153px 0 163px;
}

.container {
  position: relative;
}

.titleWrap {
  margin: 0 0 64px;
  padding-left: 50%;
}

.titleWrap h2 {
  margin: 0 0 32px;
}

.titleWrap p {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.itemListWrap {
  padding-left: 50%;
}

.itemList {
  position: relative;
  display: flex;
  margin: 0 0 48px;
  padding: 32px;
  width: 100%;
  height: 170px;
  background: #ffffff;
  border: 2px solid transparent;
  transition: .4s;
  cursor: default;
}

.itemListWrap .itemList:before {
  position: absolute;
  right: -12px;
  bottom: -12px;
  z-index: -1;
  display: none;
  width: inherit;
  height: inherit;
  background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
  border: 2px solid #0f2830;
  content: "";
}

.itemListWrap.active .itemList,
.itemListWrap:hover .itemList {
  border-color: #0f2830;
}

.itemListWrap.active .itemList:before,
.itemListWrap:hover .itemList:before {
  display: flex;
}

.itemListWrap.active .text,
.itemListWrap:hover .text {
  height: auto;
  opacity: 1;
}

.title {
  margin: 0 0 10px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.text {
  font-weight: 400;
  height: 0;
  opacity: 0;
  transition: all ease .4s;
}

.itemListImageWrap {
  position: absolute;
  top: 32px;
  left: 105px;
  display: none;
}

.itemListImageWrap .mainImg {
  display: flex;
  height: fit-content;
}

.itemListImage {
  position: relative;
  border: 2px solid #0f2830;
}

.decorArrow,
.decorLock {
  position: absolute;
  z-index: 5;
}

.decorArrow {
  top: -40px;
  right: 110px;
}

.decorLock {
  left: 60px;
  bottom: -44px;
}

.itemListImage:before {
  position: absolute;
  right: -11px;
  bottom: -12px;
  z-index: 1;
  display: flex;
  width: 60%;
  height: 60%;
  background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
  border: 2px solid #0f2830;
  content: "";
}

.itemListWrap.active .itemListImageWrap {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.itemListImageWrap .mainImg {
  position: relative;
  z-index: 2;
  width: inherit;
  height: inherit;
}

.icon {
  margin-right: 28px;
}

.itemListWrap:hover .icon stop:first-child,
.itemListWrap.active .icon stop:first-child {
  stop-color: #2EE297;
}

.itemListWrap:hover .icon stop:last-child,
.itemListWrap.active .icon stop:last-child {
  stop-color: #1DC9D4;
}

@media (max-width: 1400px) {
  .titleWrap,
  .itemListWrap {
    padding-left: 55%;
  }

  .itemListImageWrap {
    left: 52px;
  }
}

@media (max-width: 1200px) {
  .itemListImageWrap {
    left: 52px;
    max-width: 480px;
    width: 40%;
  }
}

@media (max-width: 991px) {
  .partnersWrap {
    padding: 58px 0;
  }

  .titleWrap,
  .itemListWrap {
    padding: 0;
  }

  .itemListWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 40px;
    padding: 0 0 16px;
    background: #ffffff;
  }

  .itemList {
    margin: 0;
    padding: 16px 16px 24px;
  }

  .itemListWrap.active,
  .itemListWrap:hover {
    border: 2px solid #0f2830;
  }

  .itemListWrap.active .itemListImage:before {
    display: none;
  }

  .itemList {
    height: initial;
    order: 1;
    border: none;
  }

  .itemListWrap .itemList.active:before,
  .itemListWrap .itemList:hover:before {
    display: none;
  }

  .itemListWrap:hover:before,
  .itemListWrap.active:before {
    position: absolute;
    right: -12px;
    bottom: -12px;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
    border: 2px solid #0f2830;
    content: "";
  }

  .itemListImageWrap {
    position: relative;
    top: initial;
    left: initial;
    margin: auto;
    order: 2;
    width: initial;
    height: initial;
    border: none;
  }

  .itemListImageWrap .mainImg {
    height: fit-content;
  }

  .title {
    font-size: 14px;
  }

  .icon {
    margin-right: 24px;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .itemListImageWrap {
    padding: 16px;
  }

  .decorArrow {
    top: -20px;
    right: 110px;
    width: 32px;
  }

  .decorLock {
    width: 44px;
    left: 60px;
    bottom: -14px;
  }
}
