.partnersWrap {
  padding: 153px 0 116px;
}

.container {
  position: relative;
}

.titleWrap {
  margin: 0 0 64px 40px;
}

.titleWrap h2 {
  margin: 0 0 32px;
}

.titleWrap p {
  font-family: 'Gilroy-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemList {
  position: relative;
  display: flex;
  margin: 0 0 40px 40px;
  padding: 0 32px;
  width: calc(100% - 40px);
  background: #ffffff;
  border: 2px solid transparent;
  transition: .4s;
  cursor: pointer;
}

.itemListWrap .itemList:before {
  position: absolute;
  right: -12px;
  bottom: -12px;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
  border: 2px solid #0f2830;
  transition: .4s;
  content: "";
}

.itemListWrap.active .itemList {
  border-color: #0f2830;
  padding: 32px;
}

.itemListWrap.active .itemList:before  {
  display: flex;
}

.itemListWrap.active .text {
  height: auto;
  opacity: 1;
  display: block;
  visibility: visible;
}

.title {
  margin: 0;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.text {
  margin: 14px 0 0;
  font-weight: 400;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all ease .4s;
  line-height: 150%;
}

.imageWrap {
  position: relative;
  margin-right: 100px;
}

.image {
  border: 2px solid #0f2830;
  width: 540px;
  height: 540px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.decorArrow,
.decorLock {
  position: absolute;
  z-index: 5;
}

.decorArrow {
  top: -44px;
  right: 116px;
}

.decorLock {
  left: 60px;
  bottom: -44px;
}

.imageWrap:before {
  position: absolute;
  right: -9px;
  bottom: -10px;
  z-index: -1;
  display: flex;
  width: 57%;
  height: 67%;
  background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
  border: 2px solid #0f2830;
  content: "";
}

.imageWrap .mainImg {
  position: relative;
  z-index: 2;
  width: inherit;
  height: inherit;
}

.icon {
  margin-right: 28px;
  width: 35px;
}

.itemListWrap .icon stop {
  transition: .4s;
}

.itemListWrap .itemList:hover .icon stop:first-child,
.itemListWrap.active .icon stop:first-child {
  stop-color: #2EE297;
}

.itemListWrap .itemList:hover .icon stop:last-child,
.itemListWrap.active .icon stop:last-child {
  stop-color: #1DC9D4;
}

.imageWrapMobile {
  display: none
}

@media (max-width: 1200px) {
  .imageWrap {
    margin-right: 60px;
  }

  .image {
    width: 440px;
    height: 440px;
  }
}

@media (max-width: 991px) {
  .partnersWrap {
    padding: 58px 0;
  }

  .titleWrap {
    margin-left: 0;
  }

  .titleWrap,
  .itemListWrap {
    padding: 0;
  }

  .imageWrap {
    display: none;
  }

  .imageWrap.imageWrapMobile {
    display: flex;
  }

  .image {
    width: 100%;
    height: 100%;
  }


  .imageWrapMobile {
    margin: 0 auto 45px;
    width: 440px;
    height: 440px;
  }

  .itemListWrap {
    padding: 0 16px;
  }

  .itemListWrap.active {
    padding: 16px;
  }

  .itemListWrap.active .itemListWrap {
    margin: 0 0 40px;
  }

  .itemListWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    padding: 0 0 16px;
    background: #ffffff;
  }

  .itemList {
    margin: 0;
    padding: 16px 16px 24px;
  }

  .itemListWrap.active {
    border: 2px solid #0f2830;
  }

  .itemListWrap.active .image:before {
    display: none;
  }

  .itemList {
    height: initial;
    order: 1;
    border: none;
  }

  .itemListWrap .itemList.active:before {
    display: none;
  }

  .itemListWrap.active:before {
    position: absolute;
    right: -12px;
    bottom: -12px;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(308.67deg, #2ee297 -15.91%, #1dc9d4 120.74%);
    border: 2px solid #0f2830;
    content: "";
  }

  .title {
    font-size: 14px;
  }

  .icon {
    margin-right: 24px;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .decorArrow {
    top: -20px;
    right: 110px;
    width: 32px;
  }

  .decorLock {
    width: 44px;
    left: 60px;
    bottom: -14px;
  }
}

@media (max-width: 768px) {
  .titleWrap {
    margin-bottom: 36px;
  }

  .titleWrap h2 {
    margin-bottom: 16px;
  }

  .partnersWrap {
    scroll-margin-top: 80px;
  }

  .decorLock {
    left: 30px;
  }

  .decorArrow {
    right: 60px;
  }

  .titleWrap p {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .imageWrapMobile {
    width: 360px;
    height: 360px;
  }

  .itemListWrap {
    padding: 16px;
    width: calc(100% - 20px);
  }

  .itemList {
    padding: 0;
    width: 100%;
  }

  .itemListWrap.active .itemList {
    padding: 0;
  }

  .imageWrap:before,
  .itemListWrap.active:before {
    right: -7px;
    bottom: -7px;
  }
}

@media (max-width: 480px) {
  .imageWrapMobile {
    width: 268px;
    height: 268px;
  }
}