.animatedBGCircle {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(100px, 0px);
}

.animatedBGCircleBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatedBGCircleEl {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-height: 1140px) {
  .animatedBGCircle {
    transform: translate(130px, 0px);
  }
}

@media (max-height: 800px) {
  .animatedBGCircle {
    transform: translate(130px, 0px);
  }
}

@media (max-width: 1140px) {
  .animatedBGCircle {
    transform: translate(calc(-6vw + 25%), 0px);
  }
}

@media (max-width: 991px) {
  .animatedBGCircle {
    transform: translate(0px, 0px);
  }
}
