.animatedBGCircle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1.5);
}

.animatedBGCircleBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.animatedBGCircleEl {
  width: 100%;
  height: 100%;
  object-fit: contain;
}