.header {
  position: relative;
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  z-index: 7;
  padding: 40px 0;
  background: #0f2830;
}

.headerOpen svg {
  position: relative;
  z-index: 5;
}

.headerOpen svg path:nth-child(3),
.headerOpen svg path:nth-child(4),
.headerOpen svg path:nth-child(5),
.headerOpen svg path:nth-child(6),
.headerOpen svg path:nth-child(7),
.headerOpen svg path:nth-child(8),
.headerOpen svg path:nth-child(9) {
  fill: #0f2830!important
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 56px;
}

.menu li a {
  position: relative;
}

.menu li:last-child {
  margin-left: 136px;
}

.menu li:last-child a {
  padding: 16px 40px;
  border: 2px solid #ffffff;
  opacity: 1;
}

.menu li:last-child:hover  a {
  background: #1B4555;
}

.menu li a.active:after {
  opacity: 1;
}

.menu a {
  display: flex;
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.menu a:hover {
  opacity: 1;
}

.menu li:not(:last-child) a:hover::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  display: flex;
  width: 100%;
  height: 2px;
  background: linear-gradient(268.42deg, #2EE297 -5.41%, #1DC9D4 132%);
  content: "";
  opacity: 1;
  transition: all .4s;
}

@media (max-width: 1400px) {
  .menu li {
    margin-left: 32px;
  }

  .menu li:last-child {
    margin-left: 96px;
  }
}

@media (max-width: 1200px) {
  .menu li {
    margin-left: 24px;
  }

  .menu li:last-child {
    margin-left: 46px;
  }

  .menu li:last-child a {
    padding: 16px 24px;
  }
}

@media (max-width: 991px) {
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }

  .header svg {
    width: 88px;
  }
}
