.animatedSvg {
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: 1s;
  z-index: 1;
}

.animatedSvg > svg {
  position: relative;
  z-index: 2;
  width: inherit;
  height: inherit;
  overflow: visible;
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .animatedSvg > svg {
    transform: translateY(-100px) scale(1);
  }
}

@media (max-width: 618px) {
  .animatedSvg > svg {
    transform: translateY(-40px) scale(1.25);
  }
}

@media (max-width: 468px) {
  .animatedSvg > svg {
    transform: translateY(-40px) scale(1.65);
  }
}

@media (max-height: 991px) and (max-width: 768px) {
  .animatedSvg > svg {
    transform: translateY(-40px) scale(1.35);
  }
}

@media (max-height: 720px) and (max-width: 468px) {
  .animatedSvg > svg {
    transform: translateY(0px) scale(1.35);
  }
}
