.animatedSvg {
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: 1s;
  z-index: 1;
}

.animatedSvg > svg {
  width: inherit;
  height: inherit;
  overflow: visible;
}

.animatedSvgGroup {
  transform: translate(260px, 0px) scale(1.75);
  transform-origin: center;
}

.animatedBGCircle {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(160px, 0px);
}

.animatedBGCircleBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatedBGCircleEl {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-height: 1140px) {
  .animatedSvg {
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  .animatedBGCircle {
    transform: translate(130px, 0px);
  }
}

@media (max-height: 800px) {
  .animatedSvg {
    transform: translateY(50px) scale(0.65);
    transform-origin: 50% 50%;
  }

  .animatedBGCircle {
    transform: translate(130px, 0px);
  }
}

@media (max-height: 620px) {
  .animatedSvg {
    transform: scale(0.6);
    transform-origin: 50% 50%;
  }
}

@media (max-width: 1140px) {
  .animatedSvgGroup {
    transform: translate(calc(4vw + 25%), 0px);
  }

  .animatedBGCircle {
    transform: translate(calc(4vw + 25%), 0px);
  }
}

@media (max-width: 991px) {
  .animatedSvg {
    transform-origin: center 75%;
    transform: scale(1.2);
  }

  .animatedSvgGroup {
    transform: translate(0px, 0px);
  }

  .animatedBGCircle {
    transform: translate(0px, 0px);
  }
}

@media (max-width: 768px) {
  .animatedSvg {
    transform-origin: center 50%;
    transform: scale(1.6);
  }
}

@media (max-height: 620px) and (max-width: 1140px) {
  .animatedSvg {
    width: 50vw;
    transform: scale(1.3);
  }
}

@media (max-height: 1140px) and (max-width: 991px) {
  .animatedSvg {
    transform: scale(1.3);
  }
}
