.hero {
  background: #0f2830;
  color: #ffffff;
}

.heroText {

}

.heroText h1 {
  margin: 0 0 32px;
}

.heroImageWrap {
  position: relative;
}

.imagesGroup {
  /*position: relative;*/
}

.imagesGroup > img {
  position: absolute;
}

.imagesGroup img:first-child {
  top: 100px;
  left: 0;
}
.imagesGroup img:nth-child(2) {
  top: 0;
  right: 50px;
}
.imagesGroup img:last-child {
  right: 0;
  bottom: 0;
}