.heroAnimatedContainer {
  position: relative;
  flex: 1;
  pointer-events: none;
}

.svgAnimationTrigger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.svgAnimationTriggerCircle {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: all;
}
